@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    box-sizing: border-box;
}
body{
    background-color: #1d1c2d;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-box{
    background-color: #211f32;
    width: 500px;
    height: 1420px;
    margin-top: 3rem;
    border-radius: 7px;
    margin-bottom: 15%;
}
.content{
    width: 80%;
    margin: 2rem 4.5rem;
    color: #fff;
    font-size: 15px;
}
.search-box{
    margin-top: 6%;
    padding: 1rem 1rem;
    border-radius: 5px;
    width: 91%;
    background-color: #262538;
    border: solid 2px #545466;
    font-size: 17px;
    color: #cecece;
    font-weight: 600;
    outline: none;
}
.all-buttons{
    margin-top: 5%;
    position: relative;
    right: 3px;
}
.btn{
    background-color: #1d1c2d;
    padding: 15px 16px;
    margin: 3px;
    border: none;
    border-radius: 4px;
    color: #8C8C9F;
    font-size: 14x;
    outline: none;
}
.de{
    background-color: #8383ED;
    color: #fff;
}
.review-1, .review-2{
    margin-top: 22%;
    height: 220px;
    width: 395px;
    background-color: #2c2b3f;
    border-radius: 7px;
    position: relative;
    right: 18px;
}
.review-2{
    margin-top: 2%;
}
.main-container{
    margin-left: 8%;
}
.user-image{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 6%;
}
.user-name{
    display: inline-block;
    vertical-align: top;
    margin-top: 13%;
    position: relative;
    left: 5px;
    font-size: 16px;
}
.stars{
    display: inline-block;
    float: right;
    margin-top: 10%;
    margin-right: 4%;
}
.fa-star{
    color: rgb(228, 192, 74);
    letter-spacing: 1px;
    font-size: 13px;
}
.letters{
    width: 85%;
    color: #d2d2d3;
}

.button-share{
    float: right;
    display: inline-block;
    margin-top: 2%;
    margin-right: 5%;
    background-color: transparent;
    box-shadow: 0px 0px 10px 5px #4c4c68;
    color: #8C8C9F;
    border: none;
    border-radius: 4px;
    padding: 9px 13px;
    outline: none;
    transition: 0.2s all;
}
.button-share:hover{
    box-shadow: 0px 0px 10px 5px #5b5b79;
    cursor: pointer;
    transition: 0.2s all;
}
.date{
    display: inline-block;
    color: #8C8C9F;
}
.bottom{
    margin-top: 4%;
}
